.divLeft {
    background-color:rgb(137, 147, 144);
    float: left;
    width: 35%;
}

.belowLeft {
    float: left;
    clear: left;
}

.tableContainer {
    border-radius: 20px;
    height: 650px;
    padding: 0 10px 10px 10px;
    overflow: scroll;
}

table, th, td {
    border: 1px solid;
}

.submitButton {
    background-color:aquamarine;
}
