.widgets {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.widget {
    margin-right: 20px;
    display: flex;
    width: 400px;
    padding: 10px;
    flex: 1;
    -webkit-box-shadow: 0px 0px 5px 5px #B8B9D0; 
    box-shadow: 0px 0px 5px 5px #B8B9D0;
    border-radius: 10px;
    height: 150px;
    justify-content: center;
    transition: transform 450ms;
    background-color: rgb(241, 245, 249);
}

.widget:hover {
    transform: scale(1.05);
}

.innerDiv {
    vertical-align: bottom;
    margin-top: 50px;
}